doctype html
html
  head
    title= title
    meta(id="viewport" name="viewport" content ="width=device-width")

    link(rel='stylesheet', href='/stylesheets/basics.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

  body.container
    div.profile
      block profile
    div
      block about
      block skills
      block projects
      block employment
      block education
      block interests
    div
      block space