<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Hack Reactor</h1>
            <span>Los Angeles, California</span><time> 2016-2017</time>
        </header>
        <p>Advanced software engineering immersive</p>
    </article>
    <article>
        <header>
            <h1>University of Southern California</h1>
            <span>Los Angeles, California</span><time> 2012-2016</time>
        </header>
        <p>B.A. - International Relations and the Global Economy</p>
        <p>Minor - Chinese (Mandarin)
    </article>
</section>
