<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1 class = "inline">Hack Reactor</h1> | Hacker in Residence (Teaching Fellow) | Los Angeles, California | 2017
        </header>
        <p>Assisted junior engineers learning JS frameworks, CS fundamentals, and delivering full-stack applications</p>
        <p>Conducted lectures and one-on-one sessions teaching algorithmic logic and toy problems</p>
    </article>
    <article>
        <header>
            <h1 class = "inline">Deloitte Consulting</h1> | Intern, Strategy and Operations | Shanghai, China | 2015
        </header>
        <p>Worked with colleagues to make proposals for major client: Shanghai Automotive Industry Corporation</p>
        <p>Attended GSMA Summit as Deloitte ambassador to present findings on disruptive technology and future of mobile</p>
    </article>
    <article>
        <header>
            <h1 class = "inline">Starbucks International</h1> | Intern, Financial Marketing Department | 2014
        </header>
        <p>Tracked weekly mooncake sales across every region and outlet in China utilizing data analysis in Excel</p>
        <p>Optimized spreadsheet formatting to highlight key sales and distribution metrics in tandem with partners; created weekly scorecard to forecast current year figures compared to prior year</p>
    </article>
</section>
