<section class="thirteen columns">
    <h1>Other fun stuff</h1>
    <article>
        <p>Lived in Shanghai for 8 years, spent the last few summers there as well, absolutely love the city</p>
        <p>My sisters and I made a <a style="color: red;" href="https://www.youtube.com/watch?v=cgzBqMKkz1o"> YouTube video </a> with 14.5 million views!</p>
        <p>I schooled Jimmy Kimmel in basketball on <a style="color: red;" href="https://www.youtube.com/watch?v=9m401nwWSoo">national TV</a> when I was 9</p>
    </article>
</section>