<section class="thirteen columns">
    <h1>Recent Projects</h1>
    <article>
        <header>
            <h1 class="inline">Atexta</h1> <a href="http://www.myatexta.com" target="_blank">| MyAtexta.com</a>  <a href="https://devpost.com/software/atexta-9gm63u" target="_blank">| See the skill in action!</a>
            <p class="description">Alexa skill that allows users to send customizable group messages using voice commands</p>
        </header>
        <ul class="bullets">
            <li>Built web application that interfaces with the Alexa skill, allowing users to create and update their personal contacts, groups, and messages that they can send using their Alexa device</li>
            <li>Designed, scaffolded, and built out the inner workings of the Alexa skill using the AWS Lambda service</li>
            <li>Set up integration with Mailgun and Twilio API’s for easy usability and seamless user experience</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="inline">Pick a Flick</h1> <a href="http://mighty-taiga-90605.herokuapp.com/" target="_blank"> | Pick A Flick (heroku link)</a>
            <p class="description">Movie recommendation service that find movies based on ratings, streaming services, and interests</p>
        </header>
        <ul class="bullets">
            <li>Designed and built structure of website with react for fast client-side rendering of single-page application</li>
            <li>Constructed schema, server routes, and queries for users and movies in database</li>
            <li>Created quiz to recommend movies based on user preferences and personality </li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="inline">Reddicted</h1> <a href="dpawsit.github.io" target="_blank"> | coming soon</a>
            <p class="description">Time-management app for people addicted to reddit</p>
        </header>
        <ul class="bullets">
            <li>Employed system that displays set number of reddit posts for fixed amount of time by querying their RESTful API</li>
            <li>Implemented authentication system with Bcrypt for hashing and validating users in Mongo database</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="inline">Codebang</h1> <a href="dpawsit.github.io" target="_blank"> | coming soon</a>
            <p class="description">Chat and development hub for software developers</p>
        </header>
        <ul class="bullets">
            <li>Architected dashboard with Eventbrite integration using React and React-bootstrap components</li>
            <li>Designed webscraper using cheerio to extract event details from Eventbrite to display in clear interface</li>
            <li>Linked front-end calls to SQL database on AWS through Express to save and retrieve scraped data</li>
        </ul>
    </article>
</section>