<section class="thirteen columns">
    <h1>Recent Projects</h1>
    <article>
        <header>
            <h1>Atexta</h1>
            <ul class="bullets">
                <li>test</li>
                <li>1</li>
                <li>2</li>
            </ul>
        </header>
    </article>
    <article>
        <header>
            <h1>Pick a Flick</h1>
            <span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>